@CHARSET "ISO-8859-1";




#logoT{
	color: white;
	text-decoration: underline;	
	float: right;
}
#topDiv{
	background-color: #3a3a3a;
	
	height: 75px;
	
	position: fixed;
	
	z-index: 10;
	
}

#votrePub{
	border: 5px solide black;
	border-radius:10px;
	
}

#messageDiv{
	

	
	height: 100px;	
}

#contenuDiv{
	background-color: white;
	border: 5px solid blue;
	border-radius:10px;
	height: 800px;
	opacity: 0.8;
}

#menuDiv {
	background-color: white;
	border: 5px solid black;
	border-radius:10px;
	height: 800px;
	opacity: 0.8;
}

#footerDiv{
	
	
	height: 100px;
	
}